

body {
  margin: 0px;
  font-family: Arial, sans-serif;
  text-align: auto;
	color: rgb(0, 0, 0);
	background-image: url('Download.png');
	background-attachment: fixed;
  background-repeat: no-repeat;	
  background-size: 100%,100%;
	font-size: medium;
  
}

.navigation {
  overflow: hidden;
  background-color: #333;
}

.navigation a {
  float: left;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navigation a:hover {
  background-color: #ddd;
  color: black;
}

.navigation a.active {
  background-color: #ae00ff;
  color: white;
}

.Picture {
	
	padding: 20px; 
	float: left;
	
  }

footer{

  padding: 50px 20px;
  background: rgb(0, 0, 0);
  color: white;
  width: auto;
}

p{
  font-size: large;
  text-align: center;
}

#p1{

  background-color: white;
  
}

.sidenav {
  height:fit-content;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
  
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.main {
  margin-left: 150px; 
  font-size: 28px; 
  padding: 0px 10px;
}

@media screen and (max-height: 100% ) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}




#burger{
    background: none;
    font-family: Androgyne;
    background-image: url('Burger.png'),url('burger2.png');
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index:1;
    -webkit-animation: burger 1000s linear infinite;
    -moz-animation: burger 1000s linear infinite;
    -ms-animation: burger 1000s linear infinite;
    animation: burger 1000s linear infinite;
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
@keyframes burger {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  100% {background-position: 50000px 50000px, 10000px 20000px, -10000px 15000px;}          
}
@-moz-keyframes burger {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  100% {background-position: 50000px 50000px, 10000px 20000px, -10000px 15000px;}          
}
@-webkit-keyframes burger {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  100% {background-position: 50000px 50000px, 10000px 20000px, -10000px 15000px;}          
}
@-ms-keyframes burger {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  100% {background-position: 50000px 50000px, 10000px 20000px, -10000px 15000px;}          
}   
